.section{
    background-image: url(/imagenes/fondo/fondo.jfif);
    background-repeat: no-repeat;
    background-size: cover;
  
  }
.cuadro{
    border: 2px solid #000;
    margin-top: 10px;
    margin-left: 10px;
    width: 370px;
    height: 250px;
    padding: 10px;
    background-color: white;
}

.cuadro2{
    border: 2px solid #000;
    margin-top: 10px;
    margin-left: 300px;
    width: 390px;
    height: 140px;
    padding: 10px;
}
.cuadro2 h2{
    font-size: 20px;
    padding-right: 30px;
    font-weight: bold;
    border: 1px solid black;
    margin-top: -10px;
    margin-left: -10px;
    width: 388px;  
    height: 30px;
    padding-left: 10px;
    color: white;
    background-color: rgb(207, 34, 34);
}

.cuadro h2{
    font-size: 20px;
    padding-right: 30px;
    font-weight: bold;
    border: 1px solid black;
    
    margin-top: -10px;
    margin-left: -10px;
    width: 368px;  
    height: 30px;
    padding-left: 10px;
    color: white;
    background-color: rgb(153, 224, 13);
}
.hola{
    border: 2px solid #000;
     margin-top: -10px;
    margin-left: 160px;
    width: 1100px;  
    height: 300px;
}


.cuadro input{
    border: none; 
    border-bottom: 3px solid rgb(156, 150, 150);
    width: 300px; 
    border-radius: 1px;
     background-color: white;
   
}

.cuadro button{
    margin-top: -10px;
}


.cuadro input{
    border: none; 
    border-bottom: 3px solid rgb(236, 32, 32);
    width: 300px; 
    border-radius: 1px;
   
}

.cuadro button{
    margin-top: -10px;
}



.cuadro input{
    border: none; 
    border-bottom: 3px solid rgb(156, 150, 150);
    width: 300px; 
    border-radius: 1px;
   
}

.cuadro button{
    margin-top: -10px;
}

.cuadro input {
    border: none; 
    border-bottom: 3px solid rgb(156, 150, 150);
    width: 300px; 
    border-radius: 1px;
}

.cuadro button {
    margin-top: -10px;
}

.cuadro .fa-comments {
    position: absolute;
    left: 380px;
    top: 110px;
    font-size: 20px;
    transform: translateY(-50%);
}

.imagen-geometrica img {
    width: 100px;
    position: static;
    height: 90px;
    font-size: 12px;
}

.lado1 {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-right: -2px;
    color: green;
    font-size: 20px;
 
}

.lado2 {
    text-align: center;
    margin-top: -22px;
    margin-right: -22px;
    color:green;
    font-size: 20px;
    
}

.area{
  position: absolute;
  margin-top: -60px;
  margin-left: 180px;
  color: red;
  font-size: 15px;
  
}

#parte-arriba{
    display:flex;
    justify-content:space-between;
    margin-top: 10px;
    margin-left: 90px;
    position: absolute;
   
}

#parte-arriba p{
    margin: 26px;
    font-weight: bold;
}

#parte-abajo p{
    font-weight: bold;
    
}

#parte-arriba-rec {
    display:flex;
    justify-content:space-between;
    margin-top: 60px;
    margin-left: 35px;
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    
}

#parte-abajo-rec{
    margin-top: -20px;
    font-weight: bold;
    font-size: 20px;
}